<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/honor?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">trelloiii</property>
        <property name="hibernate.connection.password">b4uld103</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
<!--        <property name="hibernate.connection.pool_size">1</property>-->
        <property name="hibernate.current_session_context_class">thread</property>
        <!--<property name="connection.pool_size">10</property>-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<!--        <property name="hibernate.c3p0.min_size">5</property>-->
<!--        <property name="hibernate.c3p0.max_size">20</property>-->
<!--        <property name="hibernate.c3p0.acquire_increment">0</property>-->
<!--        <property name="hibernate.c3p0.timeout">1800</property>-->
<!--        <property name="hibernate.c3p0.autoCommitOnClose">true</property>-->
<!--        <property name="hibernate.c3p0.maxConnectionAge">2</property>-->
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>-->
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
<!--        <property name="hibernate.hikari.dataSourceClassName">org.h2.jdbcx.JdbcDataSource</property>-->
<!--        <property name="hibernate.hikari.dataSource.url">jdbc:mysql://std-mysql.ist.mospolytech.ru:3306/std_763?serverTimezone=UTC</property>-->
    </session-factory>
</hibernate-configuration>